.card-container {
    width: 100%;
    height: auto;

    .card-image {
        width: 200%;
        height: auto;
        position: relative;
        transition: .3s;
    }
}

.card-image-Player {
    .card-image:hover {
        cursor: pointer;
        -webkit-filter: drop-shadow(-4px 4px 9px rgba(0, 0, 0, 0.4));
        filter: drop-shadow(-4px 4px 9px rgba(0, 0, 0, 0.4));
        transform: translate(0, -10px);
    }
}